<!-- -->

<link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">


<div class="flex flex-wrap w-full bg-gray-900 pt-24 pb-8">
    
    <!-- <app-navbar id="finanzas-navbar" class="w-full lg:w-1/12 p-4 flex items-center justify-center min-h-screen"></app-navbar> -->
    <app-lista-transacciones class="w-full lg:w-12/12 flex justify-center min-h-screen bg-gray-900 px-4 "></app-lista-transacciones>
    

</div>