
<div class="flex justify-center items-center h-screen pt-24">
   <!-- Start of component -->
   <div class="max-w-2xl bg-white p-6 rounded-md tracking-wide shadow-lg">
      <div id="header" class="flex items-center mb-4">
         <img alt="avatar" class="w-20 rounded-full border-2 border-blue-600" src="https://picsum.photos/200/200" />
         <div id="header-text" class="leading-5 ml-6 sm">
            <h4 id="name" class="text-xl font-semibold">{{name}}</h4>
            <h5 id="job" class="font-semibold text-blue-600">{{job}}</h5>
         </div>
      </div>
      <div id="quote">
         <q class="text-gray-600">{{bio}}</q>
      </div>
   </div>
   <!-- End of component -->
</div>