<div id="tareas-navbar" class="w-full mb-10 absolute top-0">
    <nav class="flex sm:flex-row justify-center">
       <a href="/presentacion"
          class="text-gray-600 py-4 px-6 block hover:text-blue-600 focus:outline-none border-b-2 font-medium" routerLink="/presentacion" routerLinkActive="text-blue-600 border-blue-600">
          Tarea 1
    </a>
       <a href="/listado" class="text-gray-600 py-4 px-6 block hover:text-blue-600 focus:outline-none border-b-2 font-medium" routerLink="/listado" routerLinkActive="text-blue-600 border-blue-600">
          Tarea 2
       </a>
      <a href="/finanzas" class="text-gray-600 py-4 px-6 block hover:text-blue-600 focus:outline-none border-b-2 font-medium" routerLink="/finanzas" routerLinkActive="text-blue-600 border-blue-600">
         Tarea 3
      </a>
    </nav>
 </div>

<router-outlet></router-outlet>
